
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

@keyframes slider {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-33.333%);
  }
}

.animate-slider {
  animation: slider 30s linear infinite;
  will-change: transform;
  width: max-content;
}


* {
  box-sizing: border-box;
}

img,
svg,
video,
canvas {
  display: block;
  max-width: 100%;
}

@keyframes waveGlow {
  0% {
    transform: translateX(-50%) translateY(0);
  }

  50% {
    transform: translateX(-50%) translateY(-20px);
  }

  100% {
    transform: translateX(-50%) translateY(0);
  }
}

.animate-wave {
  animation: waveGlow 8s ease-in-out infinite;
}